<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings></connectionStrings>
	<appSettings>
		<add key="DefaultImagePath" value="/Resources/Images/cat2.jpg"/>
		<add key="ServerIP" value=""/>
		<add key="ServerPort" value="9000"/>
		<add key="DBSource" value=""/>
		<add key=" DBName" value="AUCTION_DB"/>

	</appSettings>





</configuration>